.navigation {
  height: 30vh;
  margin-bottom: 50px;
}
.navbar-collapse {
  margin-left: 40%;
}
.displays {
  width: 50%;
}
#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.intro {
  text-align: center;
}
.display img {
  height: 45vh;
}
.intro input {
  margin-top: 35px;
  border-radius: 10px;
}
.card {
  
}
img.card-img-top {
  height: 40vh;
  width: 25vw;
}