.navigation {
  height: 30vh;
  margin-bottom: 50px;
}
.navbar-collapse {
  margin-left: 50%;
}
.displays {
  width: 50%;
}
#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.intro {
  text-align: center;
}
.display img {
  height: 50vh;
}