.container-fluid {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(245, 166, 209); */
  overflow-x: hidden;
}
.navigation {
  height: 30vh;
  margin-bottom: 50px;
  margin-top: 30px;
  padding-top: 0px;
  align-items: center;
}
.navbar-collapse {
  margin-left: 40%;
}

#about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 30px;
  height: 50vh;
  
}
.intro {
  text-align: center;
  height: 50vh;
  align-items: center;
  margin-top: 40px;
  
}
.flip-card img {
  height: 45vh;
}
.intro input {
  margin-top: 35px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  width: 50%;
}
.flip-card-inner {
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 50%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding-bottom: 50px;
}
.flip-card-back {
  transform: rotateY(180deg);
  padding-bottom: 50px;
}
h5.card-title {
  text-align: center;
}
#menu {
  background-color: rgb(91, 92, 92);
  margin-top: 20px;
  margin-bottom: 20px;
}
.carousel-item {
  width: 100vw;
  margin-left: 25%;
  margin-bottom: 20px;
}
.controls-top {
  margin-top: 50px;
  text-align: center;
  color: white;
}
.col-md-4 {
  border-radius: 10px;
  width: 50%;
}
.view table {
  color: white;
  width: 80%;
  margin: auto;
}
#order-now {
  text-align: center;
  color: white;
  margin-top: 20px;
  width: 100%;
}
.same {
  width: 35%;
  margin: auto;
  /* display: flex; */

}
.click {
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: space-evenly;
}
.col-sm-5 {
  width: 60%;
  margin: auto;
  background-color: rgb(91, 92, 92);
}
label {
  color: white;
}
#order-now {
  background-image: url(../img/cookware.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.delivery,
.selection {
  width: 60%;
  margin: auto;
  display: none;
}
#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: rgb(91, 92, 92);
  color: white;
  margin-top: 30px;
}
textarea#talk {
  width: 100%;
  height: 25vh;
}
#reachme,
.address {
  text-align: center;
  margin-top: 35px;
}
.copy {
  text-align: center;
}

/* media queries */

@media screen and (width: 640px) {
  .navigation {
    height: 50vh;
  }
  .flip-card {
    display: none;
  }
  .intro {
    width: 100%;
    margin: auto;
  }
}
@media screen and (width: 600px) {
  .navigation {
    height: 20vh;
  }
  .flip-card {
    display: none;
  }
}

@media screen and (min-width: 280px) and (max-width: 665px){
  .navigation {
    height: 30vh;
  }
  .flip-card {
    display: none;
  }
  .click {
    display: flex;
    flex-direction: column;
    height: 25vh;
    justify-content: space-evenly;
  }
  textarea#talk {
    width: 90%;
    height: 25vh;
  }
  
}
